<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produto</title>
</head>
<body>
    <h1>Produto</h1>
    <h3>Violão Yamaha</h3>
    <p>Ótimo violão acústico da marca Yamaha, 2 anos de uso, cordas de nylon recentemente trocadas</p>
    <p>01/03/2015</p>
    <p><strong>R$ 300,00</strong></p>
</body>
</html>